<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>Energy analytics{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/se.css"   />
    <script src="/static/js/map_overlay.js" type='text/javascript'></script>
    <script src="/static/js/jquery-1.11.0.js" type='text/javascript' ></script>

    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class='header'>VISDOM
      <div style='color:#008080;font-style:italic;font-size:25px;'>Energy analytics</div>
    </div>
    <span class='header_right'><!--<img width='132' src='/static/L_logo.png' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width='144' src='/static/R_logo.png' />--></span>
    <div style='clear:both;'></div>
    <div class="hr">&nbsp;</div>
    {% endblock %}
    {% block content %}
    This is the default content from the base template. You probably want to override it.
    {% endblock %}
    {% block footer %}
    <div class="hr">&nbsp;</div>
    <div class='footer'>&nbsp;
    <a href='/'>Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/about'>About</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='/developers'>Developers</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright 2014 S3L
    </div>
    {% endblock %}
  </body>
</html>