sources = {
    # Sample basic features
    'basics'          : { 'label'          : 'Basic data features', 
                          'public'         : True, 
                          'prefix'         : 'basics',
                          'dataFormat'     : 'csv',    
                          'dataIdentifier' : 'data/basic_features.csv',  
                          'colMetaFile'    : 'data/basic_features_META.csv'},
  }
