.sorted-values rect.hover {
  cursor: pointer;
}

.sorted-values rect.range {
  fill: #999;
}

.sorted-values .midline {
  stroke: black;
  stroke-width: .6;
}

.sorted-values .hilite rect.range {
  fill: red;
}

.sorted-values .hilite rect.hover {
  fill: rgba(0,0,0,.05);
}
